.main_banner{
  margin: 5% auto;
  width: fit-content;
  height:60vh;
  display: flex;
align-items: center;
justify-content:center;
  background-color:#dce8ffc3;
  border-radius: 1%;
  border-top: 10px solid #2062c5;  
}
.input_label{
  margin-right: 0.5rem;
  font-size: large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
.input_section{
  margin: 1rem 1rem;
  padding: 1rem 1rem;
}
.input{
  outline:none; 
}
.input:hover{
  
  border: 2px solid #86b0fdad;
}
.btn{
  margin:0.5rem  1rem;
  padding:0.5rem 0.5rem;
  text-decoration: none;
  border:none;
  border-radius: 1%;
}


#btn-login{
  color:white;
  font-weight:bold;
background-color: #2062c5;
}
#btn-login:hover{
  background-color: #4576c1;
}

#btn-cancel{
  color:white;
  font-weight:bold;
background-color: rgba(211, 31, 31, 0.748);
}
#btn-cancel:hover{
  background-color: rgba(212, 87, 87, 0.748);
}


#btn-register{ 
  color:white;
  font-weight:bold;
  margin-top: 0.5%;
background-color: rgba(0, 128, 0, 0.789);
}
#btn-register:hover{
  background-color:  rgba(48, 165, 48, 0.789);
}




@media (max-width: 1024px) {
  .main_banner {
    height: 34vh;
    margin: 28% auto;
    width: 68vw;
  }
}

@media (max-width: 768px) {
  .main_banner {
    height: 40vh;
    margin: 34% auto;
    width: 88vw;
  }
}

@media (max-width: 556.8px) {
  .main_banner {
    height: 48vh;
    margin: 20% auto;
    width: 88vw;
  }
  
  .button-section,
  .btn-login,
  .btn-cancel,
  .btn-register {
    width: fit-content;
    height: fit-content;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }
}